.product-list {
  padding: 1em;

  .product-list-item-content {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    list-style: none;
    justify-items: center;

    li {
      border-radius: 16px;
      box-shadow: 0 0 12px 0 #e6e5e5;
      background-color: settings.$color-card;
      color: black;

      &:hover {
        box-shadow: 0 12px 20px rgb(68 68 68 / 20%);
      }

      a {
        text-decoration: none;
      }

      .content-item-img {
        width: 100%;
      }

      .content-item-description {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 0.6em;

        h5 {
          color: black;
          height: 3em;
        }

        .content-item-description-price {
          color: black;
          margin: 0.6em 0;
          height: 30%;
        }

        .content-item-description {
          padding: 0 0.8em;
        }

        .content-item-reviews-ranting {
          display: flex;

          align-items: center;

          p {
            color: #8f8f8f;
            margin-left: 0.5em;
            font-size: 80%;
          }
        }
      }
      .product-list-item-button {
        display: flex;
        justify-content: center;
        margin: 0.8em 0;
        height: 1.6em;

        button {
          height: 100%;
          box-sizing: border-box;
        }
      }
    }
  }
}

@media screen and (min-width: 700px) and (max-width: 2000px) {
  .product-list {
    .product-list-item-content {
      grid-gap: 10px;
      grid-template-columns: repeat(4, minmax(100px, 1fr));
    }
  }
}
